<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wimetro.qrcode">

    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc.hce" android:required="true"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />



    <application
        android:name=".common.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.LoginActivity"/>
        <activity android:name=".ui.activity.RegisterActivity"/>
        <activity android:name=".ui.activity.ForgetPwdActivity"/>
        <activity android:name=".ui.activity.ActivateActivity" android:launchMode="singleTop">

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="createandpay_page"  android:scheme="myapp" />

            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.HomePageActivity"/>
        <activity android:name=".ui.activity.CheckActivity"/>
        <activity android:name=".ui.activity.SetPwdActivity"/>
        <activity android:name=".ui.activity.SettingsActivity"/>
        <activity android:name=".ui.activity.TradeDetailActivity"/>
        <activity android:name=".ui.activity.JieYueActivity"/>
        <activity android:name=".ui.activity.ChoosePayWayActivity"/>

        <activity android:name=".module.versionchecklib.core.VersionDialogActivity"  android:launchMode="singleTask"/>

        <provider
            android:name=".module.versionchecklib.core.VersionFileProvider"
            android:authorities="${applicationId}.versionProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/versionchecklib_file_paths" />
        </provider>

        <service
            android:name=".module.versionchecklib.core.GetVersionService"
            android:enabled="true"
            android:exported="true"></service>

        <service
            android:name=".service.HceHostApduService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apduservice" />
        </service>

        <service android:name=".service.TokenService"
            android:enabled="true"
            android:exported="false"
            android:priority = "1000">
            <intent-filter>
                <action android:name="android.intent.action.TokenService"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".common.core.ConnectionChangeReceiver">
            <intent-filter>
                <action  android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>